<div class="players-container">
  <table class="players-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Final Ranking</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <% @sports_league.fantasy_players.by_name.each do |players| %>
        <tr>
          <td><%= players.name %></td>
          <td class="ranking"><%= players.with_rank %></td>
          <td><%= players.with_owner %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
