<table class="leagues-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Waiver Deadline</th>
      <th>Trade Deadline</th>
      <th>Championship Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @sports_leagues %>
  </tbody>
</table>
