<div class="container">
  <section class="league-info">
    <%= render "league_info" %>
  </section>
  <section class="players-collection">
    <%= render "fantasy_players_table" %>
  </section>
</div>
