<div class="container">
  <section class="fantasy-league-info">
  <h1><%= @fantasy_league.name %><h2>
  </section>
  <section class="teams-collection">
    <%= render "fantasy_teams_table" %>
  </section>
</div>
