<div class="page-header">
  <h1>Available Fantasy Players</h1>
  <%= render "fantasy_league_select_form" %>
</div>
<section class="available-fantasy-players-collection">
  <% @fantasy_players.each do |league, players| %>
    <div class="sports-league-players">
      <header>
        <h5><%= league %></h5>
      </header>
      <table class="available-fantasy-players-table">
        <thead>
          <tr>
            <th>Fantasy Player</th>
            <th>Fantasy Team Owner</th>
          </tr>
        </thead>
        <tbody>
          <% players.each do |player| %>
            <tr>
              <td><%= player.fantasy_player_name %></td>
              <td><%= player.fantasy_team_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>
