<h1>About</h1>

<p>The 338 Challenge was created a few years ago so a group of friends could play fantasy sports year round and keep in touch.  More history will be added to this about page as the site is developed.</p>
