<div class="container">
  <section class="fantasy-teams-index-title">
    <h1>Fantasy Teams</h1>
  </section>
  <section class="fantasy-teams-collection">
    <table class="fantasy-teams-table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @fantasy_teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, fantasy_team_path(team) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>






