<div class="container">
  <section class="fantasy-team-info">
    <%= render "fantasy_team_info" %>
  </section>
  <section class="players-collection">
    <%= render "fantasy_players_table" %>
  </section>
</div>
