// fantasy_leagues/index

.teams-collection {
  display: flex;
  justify-content: center;
}
.teams-container {
  max-width: 700px;
  padding: 20px;
  margin-bottom: 80px;
}
.teams-table {
  
  td,
  th {
    padding: 5px;
  }
}
