<ul>
  <li class="home">
    <%= link_to "Home", root_path %>
  </li>
  <li class="leagues">
    <%= link_to "Leagues", sports_leagues_path %>
  </li>
  <li class="about">
    <%= link_to "About", page_path("about") %>
  </li>
</ul>
