<header class="navigation">
  <section class="header-wrapper">
    <div class="header-container">
      <nav>
        <%= render "layouts/header_links" %>
      </nav>
    </div>
  </section>
</header>
